{% extends 'base.html' %}
{% block extra_css %}
<style>
    body {
        background-color: rgb(23, 20, 46);
        color: #ffffff;
    }

    .add-question-container {
        max-width: 1000px;
        margin: 2rem auto;
        margin-top: 150px;
        padding: 40px;
        background: rgba(255,255,255,0.13);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        
    }

    .btn-primary {
        background: rgba(255,255,255,0.1);
        border: 2px solid rgba(255,255,255,0.2);
        color: #ffffff;
        padding: 12px 30px;
        border-radius: 25px;
        margin-top: 30px;
    }

    .btn-secondary {
        background: rgba(255,255,255,0.1);
        border: 2px solid rgba(255,255,255,0.2);
        color: #ffffff;
        padding: 12px 30px;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    .btn:hover {
        transform: translateY(-2px);
        filter: brightness(1.1);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    #id_text {
        width: 100%;
        min-height: 70vh; 
        height: auto;
        font-size: 1.1rem;
        line-height: 1.6;
        padding: 25px;
        background: rgba(0,0,0,0.3) !important;
        border: 2px solid rgba(255,255,255,0.2);
        color: #ffffff;
        border-radius: 10px;
        resize: vertical;
        transition: all 0.3s ease;
        max-width: 1000px;
        margin-top: 20px;
    }

    .content {
        justify-content: center;
        text-align:center;
    }
</style>
{% endblock %}

{% block content %}


<div class="add-question-container">
    <a href="{% url 'courses:quiz_detail' quiz_id=quiz.id %}" 
        class="btn btn-secondary">
        Назад к вопросам
    </a>
    <div class="content">
        <h2>Добавить вопрос к тесту</h2>
        <form method="post">
            {% csrf_token %}
            <div class="question-form">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить вопрос</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
