{% extends 'base.html' %}

{% block extra_css %}
<style>

    body {
        background-color: rgb(23, 20, 46);
        color: #ffffff;
    }

    .create-container {
        max-width: 1000px;
        margin: 2rem auto;
        padding: 40px;
        background: rgba(255,255,255,0.13);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
    }

    .back-link {
        margin-bottom: 2rem;
        display: inline-block;
    }

    .btn-primary {
        background: linear-gradient(45deg, #23a2f6, #1845ad);
        border: none;
        padding: 12px 30px;
        border-radius: 25px;

    }

    .btn-primary:hover {
        transform: translateY(-2px);
        filter: brightness(1.1);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    
    #id_title {
        font-size: 1.4rem;
        padding: 15px 20px;
        height: 60px; 
        width: 100%;
        text-align: center;
    }

    #id_content {
        width: 100%;
        min-height: 70vh; 
        height: auto;
        font-size: 1.1rem;
        line-height: 1.6;
        padding: 25px;
        background: rgba(0,0,0,0.3) !important;
        border: 2px solid rgba(255,255,255,0.2);
        color: #ffffff;
        border-radius: 10px;
        resize: vertical;
        transition: all 0.3s ease;
        max-width: 1000px;
    }

    #id_order {
        width: 31.6%;
    }

    .center-button {
        display: flex;
        justify-content: center;
    }

</style>
{% endblock %}

{% block content %}
<div class="create-container">
    <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-secondary back-link">Назад к курсу</a>
    <div class="container mt-4">
        <h2 class="text-center mb-4" style="color: #ffffff; font-family: 'Poppins', sans-serif;">Создание нового урока</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center-button">
                <button type="submit" class="btn btn-primary">Создать урок</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

